@import "@styles/variables";
@import "@styles/constants";
.registration-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

  &__title {
    color: $link-color;
    margin-bottom: 2rem;
  }

  &__form {
    width: 20%;
  }

  &__field {
    margin-bottom: 1rem;
  }
  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: $font-weight-black;
  }
  &__error-text {
    color: $error-color;
  }

  &__footer-link {
    margin-top: 1rem;
  }
  &__input {
    background-color: $secondary-color;
    border-radius: 0.2rem;
    border: none;
    padding: 0.6rem;
    width: 100%;
  }

  &__button {
    background-color: $link-color;
    border-radius: 0.25rem;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-weight: $font-weight-black;
    padding: 0.5rem 1rem;
  }
}
