@import "@styles/variables";

.blog-card {
  border-radius: 0.5rem;
  border: 1px solid $black-color-200;
  padding: 1rem;

  &__link {
    color: $color-black;
  }

  &__banner {
    border-radius: 0.5rem;
    height: 15rem;
    width: 100%;
  }

  &__category-badge {
    background-color: $secondary-color;
    border-radius: 0.3rem;
    color: $color-blue;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: fit-content;
  }

  &__title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
    margin: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  &__author-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__author-image {
    background: $color-blue;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }

  &__author-name {
    font-weight: $font-weight-bold;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
  }

  &__created-at {
    color: $dim-color;
  }
}
